p:hover {
     color:lightsteelblue;
     font-weight: bold;
}


p:before {
     content: 'Hi';
     color:black;
     font-weight: bold;
}



p:after{
     content: 'Bye';
     color:darkslategray;
     font-weight: bold;
}


p::selection{
      background-color: chartreuse;
      color:white;
}
