body {
     background-color: aqua;
}

h1 {
    text-align: center;
}

.head1 {
    background-color: azure;
}

#head2 {
    background-color: blanchedalmond;
    color: aquamarine;
}
