.nav-bar {
  background-color: lightgreen;
  color: black;
  padding: 20px;
}

.content {
  padding: 30px;
}

.footer {
  background-color: lightpink;
  color:black;
  padding: 20px;
  text-align:center;
  height: 100px;
}
   
