* {
   padding: 20 px;
   margin: 10 px;
}

.nav {
    background-color: rgb(253, 185, 185);
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.banner {
    background-color: lightslategray;
    height: 50px;
}

.content{
    height: 200px;
}

.footer{
    height: 200px;
}

img {
   width: 100%;
   filter: contrast(50%) blur(20%);
}
